<!-- <button (click)="callTestApi()">Test Vehicle API</button>
<p>Test Vehicle API!</p> -->

<div class="register-vehicle-form">
  <mat-card>
    <p class="card-header">Register Vehicle</p>
    <form [formGroup]="registerVehicleFormGroup">
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Vehicle Owner</mat-label>
        <input
          type="text"
          matInput
          [formControl]="ownerIdControl"
          [matAutocomplete]="autoOwner"
        />
  <mat-autocomplete #autoOwner="matAutocomplete" [displayWith]="displayOwner">
          @for (owner of filteredOwnerNames; track owner.key) {
            <mat-option [value]="owner.key">
              {{ owner.value }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Vehicle Type</mat-label>
        <mat-select formControlName="vehicleType">
          <mat-option value="car">Car</mat-option>
          <mat-option value="van">Van</mat-option>
          <mat-option value="bus">Bus</mat-option>
        </mat-select>
        @if (registerVehicleFormGroup.get('vehicleType')?.hasError('required')) {
          <mat-error>Vehicle Type is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Province</mat-label>
        <input matInput formControlName="province" />
        @if (registerVehicleFormGroup.get('province')?.hasError('required')) {
          <mat-error>Province is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Prefix</mat-label>
        <input matInput formControlName="prefix" />
        @if (registerVehicleFormGroup.get('prefix')?.hasError('required')) {
          <mat-error>Prefix is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Number</mat-label>
        <input matInput formControlName="number" />
        @if (registerVehicleFormGroup.get('number')?.hasError('required')) {
          <mat-error>Number is required.</mat-error>
        }
        @if (registerVehicleFormGroup.get('number')?.hasError('pattern')) {
          <mat-error>Number must be exactly 4 digits.</mat-error>
        }
        @if (registerVehicleFormGroup.get('number')?.hasError('minlength') || registerVehicleFormGroup.get('number')?.hasError('maxlength')) {
          <mat-error>Number must be 4 digits.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand" />
        @if (registerVehicleFormGroup.get('brand')?.hasError('required')) {
          <mat-error>Brand is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model" />
        @if (registerVehicleFormGroup.get('model')?.hasError('required')) {
          <mat-error>Model is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Version</mat-label>
        <input matInput formControlName="version" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Year of Manufacture (YoM)</mat-label>
        <mat-select formControlName="yom">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Year of Registration (YoR)</mat-label>
        <mat-select formControlName="yor">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="inputs">
        <mat-label>Remark</mat-label>
        <textarea matInput formControlName="remark" rows="3"></textarea>
      </mat-form-field>
      <div class="button-row">
        <button mat-flat-button color="accent" (click)="submitVehicle()">Submit</button>
        <button mat-flat-button color="accent">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
